useDynLib(Rborist, .registration = TRUE)

export(rfArb)
export(rfTrain)
export(Rborist)
export(preformat)
export(presample)
export(Export)
export(expandfe)
export(RboristNews)
export(validate)
export(forestWeight)
export(Streamline)

S3method(rfArb, default)
S3method(rfTrain, default)
S3method(Rborist, default)
S3method(preformat, default)
S3method(presample, default)
S3method(Export, default)
S3method(expandfe, default)
S3method(validate, default)
S3method(forestWeight, default)
S3method(predict, rfArb)
S3method(predict, rfTrain)
S3method(Streamline, rfArb)

import(Rcpp)
import(digest)
