useDynLib(Rborist, .registration = TRUE)

S3method(Rborist, default)
S3method(validate, default)

export(rfarb)
export(Rborist)
export(PreFormat)
export(Export)
export(RboristNews)
export(Validate)
export(validate)
export(Streamline)

S3method(predict, Rborist)
S3method(Export, Rborist)

import(Rcpp)
