useDynLib(Rborist, .registration = TRUE)

export(Rborist)
export(PreFormat)
export(Export)
export(ForestFloorExport)
export(RboristNews)
export(Validate)
export(Streamline)

S3method(Rborist, default)
S3method(PreFormat, default)
S3method(predict, Rborist)
S3method(Export, Rborist)
S3method(ForestFloorExport, Rborist)
S3method(Validate, default)
S3method(Streamline, default)

import(Rcpp)
